{% extends "master.html" %}

{% block title %} All Members  {% endblock  %}

{% block content %}

<h1>All Members</h1>

<ul>
    {% comment 'used to make the list reverse' %} {% for member in members reversed %} {% endcomment %}
  
    {% for member in members %}
    {% comment "static url" %} <li><a href = "details/{{ member.id }}"> {% endcomment %}
    
        <li><a href = "{% url 'member_details' member.slug %}">
            {{ forloop.counter }} {{ member.first_name }} {{member.last_name }} 
        </a> </li>
    {% empty %}
        <p>No Members {#Found#} </p>
    {% endfor %}
</ul>
<!-- <button><a href="/members/">Back to Members</a></button> -->
<button><a href="{% url 'home' %}">Back to Home</a></button>

{% endblock %}